# Resources required by the sample browser and most samples.
[Essential]
Zip=/../media/packs/SdkTrays.zip
# FileSystem=/../media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=/../media/fonts
FileSystem=/../media/models
FileSystem=/../media/materials/scripts
FileSystem=/../media/materials/textures
# FileSystem=/../media/particle
# Zip=/../media/packs/ogretestmap.zip
# Zip=/../media/packs/ogredance.zip
# Zip=/../media/packs/Sinbad.zip

[General]
# FileSystem=/../media

[Imagesets]
FileSystem=/../media/datafiles/imagesets

[Fonts]
FileSystem=/../media/datafiles/fonts

[Schemes]
FileSystem=/../media/datafiles/schemes

[LookNFeel]
FileSystem=/../media/datafiles/looknfeel
